<div class="photo-gallery">
    <div class="service-title">
        <nb-icon icon="arrow-circle-left-outline" status="warning" (click)="goBack()"></nb-icon>
        {{service.name}}
    </div>
    <hr class="divider warning"/>

    <div lightbox-group>
        <div class="image-container" *ngFor="let image of service.images; let i = index;">
            <img class="image-{{i}}" src="assets/img/{{service.encoded_name}}/{{image}}" lightbox [counter]="true" [closeButtonText]="'Fechar'"/>
            <div class="caption" [class.show]="hoveredElement == i" (mouseover)="hoveredElement = i" (mouseout)="hoveredElement = -1" (click)="selectImage(i)">
                <div class="text">+</div>
            </div>
        </div>
    </div>
</div>