<div class="portfolio">
    <div class="welcoming">Minhas especialidades</div>
    <hr class="divider warning"/>
    <div class="welcoming-text">Clique em uma categoria abaixo para ver a galeria de fotos.</div>
    <div class="categories">
        <carousel [height]="350" [cellWidth]="340" [margin]="35" [cellsToShow]="this.isMobile ? 1 : 3" [arrowsTheme]="'dark'" [arrowsOutside]="this.isMobile ? false :true">
            <div class="carousel-cell" *ngFor="let service of services; let i = index;">
                <nb-card size="small" (click)="navigateServiceDetails(service)">
                    <nb-card-body>
                        <img src="assets/img/{{service.encoded_name}}/{{service.imgBanner}}"/>
                        <div class="caption" [class.show]="hoveredElement == i" (mouseover)="hoveredElement = i" (mouseout)="hoveredElement = -1">
                            <div class="text">Veja a galeria</div>
                        </div>
                    </nb-card-body>
                    <nb-card-footer>{{service.name}}</nb-card-footer>
                </nb-card>
            </div>
        </carousel>
    </div>
</div>