<ng-sidebar-container style="height: 100vh">
  <ng-sidebar class="mobile-sidebar" #sidebar [mode]="'over'" [closeOnClickOutside]="true" [autoFocus]="false" [(opened)]="sidebarOpened">
    <nb-menu class="menu" [items]="links" (click)="sidebar.close()"></nb-menu>

    <div class="info">
      <img src="/assets/img/company-logo-black.png" />

      <div class="info-text">
        <nb-icon icon="pin-outline" status="warning"></nb-icon>
        São Paulo/SP

        <div style="margin-top: 20px;">
          <nb-icon icon="phone-outline" status="warning"></nb-icon>
          11 97747-5738
        </div>

        <div class="social-media">
          <a href="https://www.instagram.com/viictorjulio" target="_blank">
            <img src="/assets/img/Instagram-Icon.png">
          </a>
          <a href="https://api.whatsapp.com/send?phone=5511977475738text=Oi!%20Gostaria%20de%20fazer%20um%20or%C3%A7amento" target="_blank">
            <img src="/assets/img/whatsapp.png" style="height: 30px; margin-top: -3px;">
          </a>
        </div>
      </div>
    </div>
  </ng-sidebar>

  <div class="ng-sidebar-content" ng-sidebar-content #container>

    <nb-layout>
      <nb-layout-header subheader class="nav-bar">
        <div class="navigation-bar" *ngIf="!this.isMobile">
          <div class="navigation-overlay row d-flex">
            <div class="col-md-3 p-0 header-left">
              <div class="icon-logo">
                <img src="/assets/img/company-logo-black.png" (click)="navigateHome()" />
              </div>
            </div>

            <div class="col-md-6 header-menu">
              <ul class="menu-container">
                <li class="menu-item" *ngFor="let link of links">
                  <a class="item-info" (click)="navigatePage(link)">{{link.title}}</a>
                </li>
              </ul>
            </div>

            <div class="col-md-3 header-right">
              <div class="social-media">
                <a href="https://www.instagram.com/viictorjulio" target="_blank">
                  <img src="/assets/img/Instagram-Icon.png">
                </a>
                <a href="https://api.whatsapp.com/send?phone=5511977475738text=Oi!%20Gostaria%20de%20fazer%20um%20or%C3%A7amento" target="_blank">
                  <img src="/assets/img/whatsapp.png" style="height: 32px; margin-top: -5px; margin-left: 8px;">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="navigation-bar" *ngIf="this.isMobile">
          <nb-icon icon="menu-outline" status="warning" class="menu-icon" (click)="sidebar.open()"></nb-icon>

          <img style="object-fit: cover;" (click)="navigateHome()" src="/assets/img/company-logo-black.png"/>
        </div>
      </nb-layout-header>
      <nb-layout-column class="p-0">
        <div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
          <router-outlet #o="outlet"></router-outlet>
        </div>

        <div class="pre-footer contact-us">
          <div class="contact-label">Quer ser fotografado(a) ou tem alguma dúvida ?</div>
          <button nbButton status="basic" size="medium" shape="round" (click)="navigateContact()">Entre em contato</button>
        </div>
      </nb-layout-column>

      <nb-layout-footer class="footer">
        <div class="footer-body">
          <div class="social-media">
            <a href="https://www.instagram.com/viictorjulio" target="_blank">
              <img src="/assets/img/Instagram-Icon.png">
            </a>
            <a href="https://api.whatsapp.com/send?phone=5511977475738text=Oi!%20Gostaria%20de%20fazer%20um%20or%C3%A7amento" target="_blank">
              <img src="/assets/img/whatsapp.png" style="height: 30px; margin-top: -3px;">
            </a>
          </div>
          <span>Copyright © Victor Julio Fotografia - Todos os direitos reservados.</span>
        </div>
      </nb-layout-footer>
    </nb-layout>
  </div>
</ng-sidebar-container>