<div class="hire-me">
    <div class="welcoming">Quero te contratar</div>
    <hr class="divider warning"/>
    <div class="details">
        <div class="welcoming-image">
            <img src="/assets/img/banner-contrate.jpeg">
        </div>

        <div class="welcoming-text">
            Desde já muito obrigado por curtir o meu trabalho, fico muito feliz e grato!
            <br/><br/>
    
            Qual o seu interesse? Cobrir a sua festa, evento ou ensaio pessoal? 
            Me conta pra alinharmos!
            <br/><br/>

            Sou apaixonado por fotografia e pra mim é uma honra você ter interesse em contratar o meu serviço. 
            Através do meu talento vou registrar seus melhores momentos e versões.            
            <br/><br/>

            <strong>Como funciona pra agendar um evento ou ensaio:</strong>
            <br/>
            Para desenvolver a ideia do que será feito no seu ensaio ou até mesmo reservar a data do seu evento 
            é necessário um sinal de 30% do valor contratado.
            <br/><br/>

            Após o sinal iremos alinhar detalhes, e peço para que você me mostre suas inspirações de fotos, 
            então salve no seu Instagram, Pinterest e etc, para que eu tenha uma ideia do que você se identifica.
        </div>
    </div>
</div>