<div class="about-me">
    <div class="welcoming">Sobre mim</div>
    <hr class="divider warning"/>
    <div class="details">
        <div class="welcoming-image">
            <img src="/assets/img/sobre-mim.jpeg">
        </div>

        <div class="welcoming-text">
            Prazer, sou o Victor. Autêntico e apaixonado por fotografia. Sou muito fácil de fazer
            amizade, por onde passo é risada na certa.<br/> Amo viajar e me conectar com pessoas e lugares,
            ter novas experiências. Sou de escorpião, não acredito muito nesse lance de signo hahaha mas sou
            tudo isso, não se assuste!<br/><br/>

            <strong>
                Perfeccionista, persistente, sempre procuro fazer e trazer um diferencial para o meu trabalho.
            </strong>
            
            <br/>
            Sou de São Paulo, porém me contratando vou até para Dubai! hahaha

            <br/><br/>
            Sou eu quem dirijo cada detalhe, faço toda a produção dos ensaios, desde a Make, até o local
            onde será, porém tudo escolhido em conjunto entre eu e você, tudo com o seu ok e concordância.
            <br/>
            Precisamos casar nossas ideias para ficar um ensaio perfeito, e mostrar o quanto você é incrível!
            E você só precisa relaxar durante o ensaio, viajar nas poses, curtir a vibe e o seu dia, se sinta
            livre e se joga, daí o resultado fica incrível, confia em mim!
        </div>
    </div>
</div>
